@import "../commons/colors.scss";


.home-main{

  
  .carousel-home-div{
    height: 100vh;
    position: relative;
    
    .paper-carousel{
      box-shadow: none;
      
      img{
        height: 100vh;
        width: 100vw;
        object-fit: cover;

        
      };
      @media screen and (max-width: 800px) {
        #water{
          object-position: 30%;
        };
      };

      .text{
        position: absolute;
        top: 45vh;
        left: 25vw;
        width: 50vw;
        text-align: center;
        color: white;
        
        .subtitle{
          font-size: 50px;
        };

        @media screen and (max-width: 900px){
          .subtitle{
            font-size: 40px
          };
        };
      };
    };
  };

  .home-lines1{
    width: 60%;
    height: 80px;
    margin-left: 10%;
    margin-top: 3rem;
    margin-bottom: 8rem;
    
    @media screen and (max-width: 1400px){
      width: 70%;
      height: 70px;
      margin-left: 7%;
    };

    @media screen and (max-width: 700px){
      width: 80%;
      height: 60px;
    };
  };

  .quote{
    text-align: center;
    width: 95%;
    margin: auto;

    p{
      font-size: 26px;
      color: $primary;

      @media screen and (max-width: 1200px){
        font-size: 22px;
      };
    };

    @media screen and (max-width: 700px){
      width: 90%;

      p{
        font-size: 18px;
      };
    };
  };

  .home-lines2{
    width: 40%;
    height: 80px;
    margin-top: 5rem;;
    margin-left: auto;
    margin-right: 10%;

    @media screen and (max-width: 1400px){
      margin-right: 7%;
      height: 70px;
      margin-bottom: 60px;
    };
    
    @media screen and (max-width: 900px){
      width: 60%;
      height: 60px;
    };

  };
};